* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  direction: rtl;
  font-size: 32px;
  color: #463229;
  font-family: "Cairo", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .icon {
  color: #707070;
  display: none;
}

.navbar a {
  text-decoration: none;
  color: #707070;
  font-weight: 500;
  font-size: 22px;
}

.section1 {
  background: url(../img/Mask\ Group\ 6.png),
    linear-gradient(to right, rgba(255, 241, 204, 100%), rgb(255, 177, 7, 85%));
  border: 1px solid #707070;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-list li {
  margin-right: 35px;
  position: relative;
  white-space: nowrap;
}

.navbar-list li + li a::before {
  content: "";
  background-color: rgb(112, 112, 112);
  width: 2px;
  height: 30px;
  position: absolute;
  border-radius: 100px;
  right: -17px;
  top: 16px;
}

hr {
  width: 100%;
  height: 1px;
  background: #a14c1f;
}

.section1-flex-container {
  display: flex;
  justify-content: center;
}

.section1-flex-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section3-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.section1-right-item h2 > span {
  color: #cd6229;
  font-size: 38px;
}

.section1-right-item input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ffffff;
  border-radius: 46px;
}

h1 {
  color: #a14c1f;
  font-weight: 800;
}

.section1-right-item form {
  display: flex;
  flex-direction: column;
}

.section2 {
  text-align: center;
  background-color: #fffaec;
  padding-bottom: 25px;
}

.section2 p {
  margin-top: 20px;
  color: white;
  background-color: #a14c1f;
  border-radius: 50px;
  border: 1px solid #242323;
  padding: 4px 45px;
  margin: auto;

  font-size: 32px;
  font-weight: 700;
}

.section2-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.section2-item img {
  width: 100%;
  max-width: 400px;
}

.section2-item p {
  color: #a14c1f;
  background-color: #ffc74c;
  border-radius: 50px;
  border: 1px solid #707070;
}

.section2-item .section2-p-top {
  margin-bottom: -40px;
}

.section2-item .section2-p-bottom {
  margin-top: -35px;
}

.section3 {
  background-color: #a14c1f;
  text-align: center;
}

.section3-item p {
  color: #faf0d7;
  font-size: 40px;
}

.section3-item {
  margin: 20px;
  position: relative;
}

.section3-container > div + div::before {
  content: "";
  height: 210px;
  position: absolute;
  border: 2px dashed #ffc74c;
  right: -20px;
}

.section4 {
  background-color: #fffaec;
  text-align: center;
}

.section4-container {
  display: flex;
  justify-content: space-between;
  margin: 35px 0px;
}

.section4-container img {
  width: 100%;
  height: 100%;
}

.section4 h1 span {
  color: #fec64d;
  font-size: 84px;
}

.section4 .container {
  padding-bottom: 100px;
}

h2 {
  color: #463229;
  font-size: 38px;
}

.section4-contain {
  text-align: right;
  margin: auto 0px;
}

.section4-lists {
  margin-top: 20px;
  display: flex;
}

.section4 h2,
.section5 h2,
.section6 h2,
.section8 h2 {
  color: #ffc74c;
}

.section7 h2 {
  font-size: 28px;
  color: #ffc74c;
}

.section4-container ~ p {
  margin-top: 96px;
}

.list-img {
  float: right;
  height: 44.44px;
  width: 48.15px;
  margin: 6px 0px;
  margin-left: 40px;
}

.section5 {
  background: url(../img/Mask\ Group\ 6.png);
  text-align: center;
  padding: 4px;
}

::placeholder {
  color: #d4d4d4;
  font-size: 28px;
}

.section5-container {
  display: flex;
  align-items: center;
  margin: 30px 0px;
  justify-content: space-evenly;
}

.section5-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section5-card {
  background-color: #fffaec;
  border: 1px solid #707070;
  border-radius: 128px;
  padding: 60px 18px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 16%);
  height: auto;
}

.section7-card {
  background-color: #fffaec;
  border-radius: 120px;
  padding: 30px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 16%);
}

section.section7::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #707070;
  background: #ffc74c;
  opacity: 0.5;
}

.section7 .container {
  position: relative;
}

.section5-card-img {
  height: 234px;
  width: 375px;
}

.section1 input[type="submit"] {
  background-color: #cd6229;
  color: #ffffff;
  font-size: 29px;
  margin: 21px 0;
  border-radius: 46px;
  border: 1px solid #707070;
  cursor: pointer;
  width: 214px;
  height: 72px;
}

.section5 input[type="submit"],
.section7 input[type="submit"],
.section8 input[type="submit"] {
  background-color: #a14c1f;
  color: #fffaec;
  font-size: 32px;
  border-radius: 52px;
  border: 1px solid #707070;
  cursor: pointer;
  padding: 11px 38px;
  margin-bottom: 25px;
  font-weight: 700;
}

.section8 input[type="submit"] {
  background: linear-gradient(to bottom, #a14c1f, #512610);
  border-radius: 121px;
  margin-bottom: 0px;
}

.section5 .section5-card p {
  color: #a14c1f;
  font-weight: 700;
  padding: 16px;
}

.stars {
  display: flex;
  margin: 16px 80px;
  justify-content: center;
}

.stars img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.section6-container {
  display: flex;
}

.section6-container img {
  width: 100%;
}

.section6-contant h3 {
  margin-top: 30px;
}

.section6,
.section8 {
  background-color: #fffaec;
  /* padding: 100px 0px; */
  padding: 100px 0px;
}

.section8 {
  padding: 100px 0px;
}

.section7 {
  background-image: url(../img/honey-production.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}

.section7-container {
  display: flex;
  justify-content: space-between;
  margin: 35px 0px;
}

.section7 h3 {
  color: #fffaec;
  font-size: 48px;
}

.section6 h3 {
  font-size: 32px;
}

.section7-card h4 {
  color: #a14c1f;
  font-size: 38px;
}

.section7-card-img img {
  width: 171px;
  height: 171px;
}

.section8-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section8-item {
  margin: 87px 0px;
}

footer {
  background-color: #a14c1f;
  text-align: center;
  padding: 60px;
}

footer p {
  color: #fffaec;
  padding: 25px 135px;
}

.container {
  padding: 0.75rem 0.75rem;
  margin: auto;
}

/* 576px altinda */
@media (max-width: 576px) {
  * {
    font-size: 30px;
  }

  .container {
    max-width: 100%;
  }

  .section1 {
    height: auto;
  }

  .section2-container,
  .section3-container,
  .section4-container,
  .section5-container,
  .section7-container,
  .section8-container {
    flex-direction: column;
  }

  .section1 .section1-flex-container,
  .section4-container.column-reverse,
  .section6-container {
    flex-direction: column-reverse;
  }

  .section1 .section1-flex-container div,
  .section4-container > div,
  .section6-container > div {
    width: 100%;
  }

  .section7-container > div {
    width: 100%;
    margin-bottom: 60px;
  }

  .section2 p,
  .section1-right-item input[type="submit"],
  .section1-right-item input[type="text"],
  select {
    width: 100%;
    font-size: 22px;
  }

  .section3-item p {
    font-size: 30px;
  }

  .section8-item {
    margin: 0px;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar-list {
    display: none;
  }

  .section2-item {
    width: 100%;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  .section4 h1 span {
    font-size: 32px;
  }

  .section3-item {
    width: 100%;
  }

  .section3 div > div + div::before {
    display: none;
  }

  .section2-item > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  footer img {
    width: 100%;
  }

  footer p {
    padding: 25px 0px;
  }

  .section8 input[type="submit"] {
    margin-top: 30px;
  }
}

/* 576px ustunde */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .section1 {
    height: auto;
  }

  .section2-container,
  .section3-container,
  .section4-container,
  .section5-container,
  .section7-container,
  .section8-container {
    flex-direction: column;
  }

  .section1 .section1-flex-container,
  .section4-container.column-reverse,
  .section6-container {
    flex-direction: column-reverse;
  }

  .section1 .section1-flex-container div,
  .section4-container > div,
  .section6-container > div {
    width: 100%;
  }

  .section7-container > div {
    width: 100%;
    margin-bottom: 60px;
  }

  .section8-item {
    margin: 0px;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar-list {
    display: none;
  }

  .section2-item {
    width: 100%;
  }

  .section2 p,
  .section1-right-item input[type="submit"],
  .section1-right-item input[type="text"],
  select {
    width: 100%;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 34px;
  }

  .section4 h1 span {
    font-size: 42px;
  }

  .section3-item {
    width: 100%;
  }

  .section3 div > div + div::before {
    display: none;
  }

  .section2-item > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .section8 input[type="submit"] {
    margin-top: 30px;
  }

  footer img {
    width: 100%;
  }

  footer p {
    padding: 25px 0px;
  }
  .section8 h1 {
    font-size: 52px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .section4 h2,
  .section5 h2,
  .section6 h2,
  .section8 h2 {
    font-size: 38px;
  }
}

/* 992px ustunde */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .section1 {
    height: 100vh;
  }

  .section1 .section1-flex-container,
  .section2-container,
  .section3-container,
  .section4-container,
  .section4-container.column-reverse,
  .section5-container,
  .section6-container,
  .section7-container,
  .section8-container {
    flex-direction: row;
  }

  .section1 .section1-flex-container div,
  .section6-container > div {
    width: 50%;
  }

  .section4-container > div {
    width: 45%;
  }

  .section7-container > div {
    width: 46%;
  }

  .section1-right-item input[type="text"],
  select {
    width: 76%;
  }

  .section1-right-item input[type="submit"] {
    width: 40%;
  }

  .section2 p {
    width: max-content;
  }

  .navbar {
    flex-direction: row;
  }

  .navbar-list {
    display: flex;
  }

  .section2-item {
    width: 25%;
  }

  h1 {
    font-size: 84px;
  }

  .section4 h1,
  .section7 h1 {
    font-size: 61px;
  }

  .section2 h1 {
    font-size: 60px;
  }

  .section4 h1 span {
    font-size: 60px;
  }

  .section3-item {
    width: 33.3%;
  }

  .section3 div > div + div::before {
    display: block;
  }

  footer img {
    width: 50%;
  }

  .section2-item > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer p {
    padding: 25px 135px;
  }

  .section8 input[type="submit"] {
    margin-top: 0px;
  }

  .section4 h2,
  .section5 h2,
  .section6 h2,
  .section8 h2 {
    font-size: 34px;
  }
  .section8 h1 {
    font-size: 48px;
  }
  .section8 input[type="submit"] {
    font-size: 34px;
  }
  .section5 h1,
  .section6 h1 {
    font-size: 60px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1760px) {
  .container {
    max-width: 80%;
  }
  .section1 {
    height: 100vh;
  }

  .section1 .section1-flex-container,
  .section2-container,
  .section3-container,
  .section4-container,
  .section4-container.column-reverse,
  .section5-container,
  .section6-container,
  .section7-container,
  .section8-container {
    flex-direction: row;
  }

  .section1 .section1-flex-container div,
  .section6-container > div {
    width: 50%;
  }

  .section4-container > div {
    width: 45%;
  }

  .section7-container > div {
    width: 46%;
  }

  .section1-right-item input[type="text"],
  select {
    width: 76%;
  }

  .section1-right-item input[type="submit"] {
    width: 40%;
  }

  .section2 p {
    width: max-content;
  }

  .navbar {
    flex-direction: row;
  }

  .navbar-list {
    display: flex;
  }

  .section2-item {
    width: 25%;
  }

  h1 {
    font-size: 84px;
  }

  .section4 h1,
  .section7 h1 {
    font-size: 65px;
  }

  .section2 h1 {
    font-size: 65px;
  }

  .section4 h1 span {
    font-size: 65px;
  }

  .section3-item {
    width: 33.3%;
  }

  .section3 div > div + div::before {
    display: block;
  }

  footer img {
    width: 50%;
  }

  .section2-item > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer p {
    padding: 25px 135px;
  }

  .section8 input[type="submit"] {
    margin-top: 0px;
  }

  .section4 h2,
  .section5 h2,
  .section6 h2,
  .section8 h2 {
    font-size: 38px;
  }
  .section8 h1 {
    font-size: 52px;
  }
  .section8 input[type="submit"] {
    font-size: 38px;
  }
  .section5 h1,
  .section6 h1 {
    font-size: 64px;
  }

  .section6 {
    padding-bottom: 0px;
  }
}
