* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  direction: rtl;
}

.section1 .phone {
  position: relative;
  display: flex;
  align-items: center;
}

.section1 .country-code-flag {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

.section1 .country-code-flag select {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  border-right: 2px solid rgb(112, 112, 112);
  margin-right: 10px;
  padding: 17px 0px;
}

.country-flag-img img {
  max-width: 50px;
  border: 1px solid #707070;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .icon {
  color: #707070;
  display: none;
}

.navbar a {
  text-decoration: none;
  color: #707070;
  font-weight: 600;
  font-size: 22px;
}

.navbar a img {
  max-width: 378px;
  width: 100%;
}

.section1 {
  background: url(../img/Mask\ Group\ 6.png),
    linear-gradient(to right, rgba(255, 241, 204, 100%), rgb(255, 177, 7, 87%));
  border: 1px solid #707070;
}

.navbar-list {
  align-items: center;
  justify-content: flex-end;
}

.navbar-list li {
  margin-right: 35px;
  position: relative;
  white-space: nowrap;
  list-style: none;
}

.navbar-list li + li a::before {
  content: "";
  background-color: rgb(112, 112, 112);
  width: 2px;
  height: 45px;
  position: absolute;
  border-radius: 100px;
  right: -17px;
}

hr {
  width: 100%;
  height: 1px;
  background: #a14c1f;
  border: none;
}

.section1-flex-container {
  display: flex;
  justify-content: center;
}

.section1-flex-container .section1-left-item img {
  width: 100%;
  max-width: 927px;
  object-fit: contain;
}

.section3-container {
  display: flex;
  justify-content: space-around;
  padding: 40px 0px;
}

.section3-container img {
  max-width: 209.14px;
  max-height: 241px;
  width: 100%;
}

.section1-right-item h2 > span {
  color: #cd6229;
}

.section1-right-item input[type="text"],
.section1-right-item input[type="number"],
select {
  padding: 17px 37px;
  margin: 12px 0;
  border: 1px solid #ffffff;
  border-radius: 46px;
  outline: none;
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 16%);
}

h1 {
  color: #a14c1f;
  margin: 12px 0px;
}

.section1-right-item form {
  display: flex;
  flex-direction: column;
}

.section2 {
  text-align: center;
  background-color: #fffaec;
  padding-bottom: 25px;
}

.section2 p {
  color: white;
  background-color: #a14c1f;
  border-radius: 50px;
  border: 1px solid #242323;
  padding: 2px 34px;
  margin: auto;
}

.section2-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.section2-item img {
  width: 100%;
  max-width: 400px;
}

.section2-item p {
  color: #a14c1f;
  background-color: #ffc74c;
  border-radius: 50px;
  border: 1px solid #707070;
}

.section2-item .section2-p-top {
  margin-bottom: -40px;
}

.section2-item .section2-p-bottom {
  margin-top: -35px;
}

.section3 {
  background-color: #a14c1f;
  text-align: center;
}

.section3-item p {
  color: #faf0d7;
  margin: 0px;
}

.section3-item {
  position: relative;
  margin: 25px 0px;
}

.section3-container > div + div::before {
  content: "";
  height: 210px;
  position: absolute;
  border: 2px dashed #ffc74c;
  right: -20px;
}

.section4 {
  background-color: #fffaec;
  text-align: center;
}

.section4-container {
  display: flex;
  justify-content: space-between;
  margin: 35px 0px;
}

.section4-container .section4-img-item img {
  width: 100%;
  max-width: 674px;
}

.section4 h1 span {
  color: #fec64d;
}

.section4 .container {
  padding-bottom: 100px;
}

h2 {
  color: #463229;
  margin: 0px;
}

.section4-contain {
  text-align: right;
  margin: auto 0px;
}

.section4-lists {
  display: flex;
}

.section4 h2,
.section5 h2,
.section6 h2,
.section8 h2 {
  color: #ffc74c;
}

.section7 h2 {
  color: #ffc74c;
  font-weight: 700;
  margin-top: -13px;
}

.section4-container ~ p {
  margin-top: 96px;
}

.list-img img {
  margin: 19px 0px;
  margin-left: 58px;
  min-width: 30px;
  height: auto;
  width: 40px;
}

p {
  color: #463229;
  font-weight: 400;
  margin: 10px 0px;
}

.section5 {
  background: url(../img/Mask\ Group\ 6.png);
  text-align: center;
  padding: 4px;
}

::placeholder {
  color: #d4d4d4;
}

.section5-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section5-card {
  background-color: #fffaec;
  border: 1px solid #707070;
  border-radius: 128px;
  padding: 100px 0px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 16%);
  height: auto;
  min-width: 270px;
  max-width: 464px;
  width: 100%;
}

.section7-card {
  background-color: #fffaec;
  border-radius: 120px;
  padding: 30px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 16%);
  max-width: 727px;
}

section.section7::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #707070;
  background: #ffc74c;
  opacity: 0.5;
}

.section7 .container {
  position: relative;
}

.section5-card-img img {
  max-width: 458px;
  max-height: 234px;
  margin: auto;
  width: 100%;
  height: 100%;
}

.section6-img {
  margin: auto;
}

.section1 input[type="submit"] {
  background-color: #cd6229;
  color: #ffffff;
  margin: 21px 0;
  border-radius: 46px;
  border: 1px solid #707070;
  cursor: pointer;
  max-height: 72px;
  font-weight: 600;
  padding: 3px 0px;
}

.section5 input[type="submit"],
.section7 input[type="submit"],
.section8 input[type="submit"] {
  background-color: #a14c1f;
  color: #fffaec;
  border-radius: 52px;
  border: 1px solid #707070;
  cursor: pointer;
  padding: 11px 38px;
  margin-bottom: 25px;
  font-weight: 700;
}

.section8 input[type="submit"] {
  background: linear-gradient(to bottom, #a14c1f, #512610);
  border-radius: 121px;
  margin-bottom: 0px;
}

.section5 .section5-card p {
  color: #a14c1f;
  font-weight: 700;
  padding: 16px;
}

.stars {
  display: flex;
  margin: 16px 80px;
  justify-content: center;
}

.stars img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.section6-container {
  display: flex;
}

.section6-container img {
  width: 100%;
  max-width: 917px;
  height: auto;
  object-fit: contain;
}

.section6,
.section8 {
  background-color: #fffaec;
  padding: 100px 0px;
}

.section8 {
  padding: 100px 0px;
}

.section4-img-item {
  margin: auto;
}

.section7 {
  background-image: url(../img/honey-production.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}

.section7-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.section7-card h4 {
  color: #a14c1f;
  margin: 0px;
  margin-top: -22px;
}

.section7-card-img img {
  width: 171px;
  height: 171px;
}

.section7 h3 {
  color: #fffaec;
}

.section8-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section8-item {
  margin: 87px 0px;
}

footer {
  background-color: #a14c1f;
  text-align: center;
  padding: 60px;
}

footer img {
  max-width: 732px;
  width: 100%;
  max-height: 183px;
}

footer p {
  color: #fffaec;
  max-width: 904px;
  margin: auto;
  padding: 25px 0px;
}

.container {
  padding: 0.75rem 0.75rem;
  margin: auto;
}
.section4 h1,
.section7 h1,
.section5 h1,
.section6 h1 {
  margin: 0px;
}
section.section6 h3{
  margin-bottom: 0px;
  margin-top: 50px;
}
section.section6 p{
 margin: 0px;
}
/* 576px altinda */
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  .section1 {
    height: auto;
  }

  .section1 h1 {
    font-size: 62px;
    font-weight: 700;
    margin: 0px;
  }

  .section1 p,
  .section8 p {
    color: #463229;
    font-size: 22px;
    font-weight: 400;
  }

  .navbar a {
    text-align: center;
  }

  .section2 h1 {
    font-size: 42px;
    font-weight: 700;
  }

  .section4 h2,
  .section5 h2,
  .section6 h2,
  .section8 h2,
  .section7-card h4,
  .section8 input[type="submit"] {
    font-size: 28px;
  }

  .section4 p,
  .section7 h2,
  .section7 p {
    font-size: 18px;
  }

  .section6 p {
    font-size: 18px;
  }
  .section2-container{
    margin-bottom: 0px;
  }
  .section4-container ~ p{
    margin: 0px;
  }
  .section2-container,
  .section3-container,
  .section4-container,
  .section7-container,
  .section8-container {
    flex-direction: column;
    align-items: center;
  }

  .section5-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section1 .section1-flex-container,
  .section4-container.column-reverse,
  .section6-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  /* .section1 .section1-flex-container div, */
  .section4-container > div,
  .section6-container > div {
    width: 100%;
  }

  .section7-container > div {
    width: 100%;
    margin-bottom: 60px;
  }

  .section1-right-item input[type="text"],
  .section1-right-item input[type="number"],
  select,
  ::placeholder {
    width: 100%;
    font-size: 18px;
  }

  .section2 p {
    width: 100%;
    font-size: 22px;
    font-weight: 600;
  }

  .section2 .container > p {
    font-size: 28px;
    font-weight: 500;
  }

  .section1-right-item input[type="submit"] {
    width: 100%;
    font-size: 19px;
  }

  .section3-item p {
    font-size: 35px;
    font-weight: 500;
  }

  .section8-item {
    margin: 0px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-list {
    display: none;
  }

  .section2-item {
    width: 100%;
  }

  .section1 h2 {
    font-size: 28px;
  }

  .section5 .section5-card p {
    font-size: 22px;
  }

  .section5 input[type="submit"],
  .section7 input[type="submit"],
  footer p {
    font-size: 22px;
  }

  .section4 h1,
  .section7 h1,
  .section5 h1,
  .section6 h1 {
    font-size: 55px;
    font-weight: 800;
  }

  .section4 h1 span {
    font-size: 55px;
  }

  .section3-item {
    width: 100%;
  }

  .section3 div > div + div::before {
    display: none;
  }

  .section2-item > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .section6 h3 {
    color: #463229;
    font-size: 22px;
  }

  .section7 h3 {
    font-size: 38px;
  }

  .section8 h1 {
    font-size: 42px;
    font-weight: 800;
  }

  .section8 input[type="submit"] {
    margin-top: 30px;
  }
}

/* 576px ustunde */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .section1 {
    height: auto;
  }

  .navbar a {
    text-align: center;
  }

  .section3-item p {
    font-size: 40px;
    font-weight: 500;
  }

  .section4 h2,
  .section5 h2,
  .section6 h2,
  .section8 h2,
  .section7-card h4,
  .section8 input[type="submit"] {
    font-size: 33px;
  }

  .section4 p,
  .section7 h2,
  .section7 p {
    font-size: 23px;
  }

  .section6 p {
    font-size: 23px;
  }

  .section2-container,
  .section3-container,
  .section4-container,
  .section7-container,
  .section8-container {
    flex-direction: column;
    align-items: center;
  }
  .section2-container{
    margin-bottom: 0px;
  }
  .section4-container ~ p{
    margin: 0px;
  }
  .section5-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section1 .section1-flex-container,
  .section4-container.column-reverse,
  .section6-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  /* .section1 .section1-flex-container div, */
  .section4-container > div,
  .section6-container > div {
    width: 100%;
  }

  .section7-container > div {
    width: 100%;
    margin-bottom: 60px;
  }

  .section8-item {
    margin: 0px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-list {
    display: none;
  }

  .section2-item {
    width: 100%;
  }

  .section1-right-item input[type="text"],
  .section1-right-item input[type="number"],
  select,
  ::placeholder {
    width: 100%;
    font-size: 23px;
  }

  .section2 p {
    font-size: 27px;
    font-weight: 600;
    width: 100%;
  }

  .section2 .container > p {
    font-size: 33px;
    font-weight: 500;
  }

  .section1-right-item input[type="submit"] {
    width: 100%;
    font-size: 24px;
  }

  .section1 h1 {
    font-size: 69px;
    font-weight: 800;
  }

  .section1 h2 {
    font-size: 33px;
  }

  .section1 p,
  .section8 p {
    font-size: 27px;
  }

  .section2 h1 {
    font-size: 49px;
    font-weight: 800;
  }

  .section5 .section5-card p {
    font-size: 27px;
  }

  .section5 input[type="submit"],
  .section7 input[type="submit"],
  footer p {
    font-size: 27px;
  }

  .section4 h1,
  .section7 h1,
  .section5 h1,
  .section6 h1 {
    font-size: 60px;
    font-weight: 800;
  }

  .section4 h1 span {
    font-size: 60px;
  }

  .section3-item {
    width: 100%;
  }

  .section3 div > div + div::before {
    display: none;
  }

  .section2-item > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .section8 input[type="submit"] {
    margin-top: 30px;
  }

  .section6 h3 {
    color: #463229;
    font-size: 27px;
  }

  .section7 h3 {
    font-size: 43px;
    margin: 0px;
    margin-bottom: 40px;
  }

  .section8 h1 {
    font-size: 47px;
    font-weight: 800;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* 992px ustunde */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* 1200px ustunde */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .section1 {
    min-height: 100vh;
  }

  .section3-item p {
    font-size: 45px;
    font-weight: 600;
  }

  .section5 .section5-card p {
    font-size: 32px;
  }

  .section1 .section1-flex-container,
  .section2-container,
  .section3-container,
  .section4-container,
  .section4-container.column-reverse,
  .section6-container,
  .section7-container {
    flex-direction: row;
    align-items: stretch;
  }
  .section2-container{
    margin-bottom: 36px;
  }
  .section8-container {
    flex-direction: row;
    align-items: center;
  }

  .section5-container {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
  }

  /* .section1 .section1-flex-container div, */
  .section6-container > div {
    width: 50%;
  }

  .section4-container > div {
    width: 45%;
  }

  .section7-container > div {
    width: 46%;
  }

  .section1-right-item input[type="text"],
  .section1-right-item input[type="number"],
  select,
  ::placeholder {
    /* width: 76%; */
    font-size: 28px;
  }

  .section1-right-item input[type="submit"] {
    width: 40%;
    font-size: 29px;
  }

  .section2 p {
    width: max-content;
    font-size: 32px;
    font-weight: 700;
  }

  .section2 .container > p {
    font-size: 38px;
    font-weight: 600;
  }

  .navbar {
    flex-direction: row;
  }

  .navbar-list {
    display: flex;
  }

  .section2-item {
    width: 25%;
  }

  .section1 h1 {
    font-size: 84px;
    font-weight: 900;
  }

  .section1 h2 {
    font-size: 38px;
    font-weight: 700;
  }

  .section1 p,
  .section8 p {
    font-size: 32px;
  }

  .section4 h1,
  .section7 h1,
  .section5 h1,
  .section6 h1 {
    font-size: 65px;
    font-weight: 900;
  }

  .section5 input[type="submit"],
  .section7 input[type="submit"],
  footer p {
    font-size: 32px;
  }

  .section2 h1 {
    font-size: 64px;
    font-weight: 900;
  }

  .section4 h1 span {
    font-size: 65px;
    font-weight: 900;
  }

  .section3-item {
    width: 33.3%;
  }

  .section3 div > div + div::before {
    display: block;
  }

  .section2-item > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section8 input[type="submit"] {
    margin-top: 0px;
  }

  .section4 h2,
  .section5 h2,
  .section6 h2,
  .section8 h2,
  .section7-card h4,
  .section8 input[type="submit"] {
    font-size: 38px;
    font-weight: 700;
  }

  .section4 p,
  .section7 h2,
  .section7 p {
    font-size: 28px;
  }

  .section6 p {
    font-size: 28px;
    font-weight: 600;
  }

  .section8 h1 {
    font-size: 52px;
    font-weight: 900;
  }

  .section6 h3 {
    color: #463229;
    font-size: 32px;
  }

  .section7 h3 {
    font-size: 48px;
  }

  .section8 input[type="submit"] {
    font-size: 34px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
